/*@media(max-width: 1100px) {

    .header .menu  {
        margin-left: 35rem;
    }
   
}

@media(max-width: 920px) {

    .header .menu  {
        margin-left: 20rem;
    }
     
}

@media(max-width: 840px) {

    .header .menu  {
        margin-left: 0rem;
    }
     
}*/