@media(max-width: 665px) {

    .header .menu .menu-list {
        display: none;
        position: relative;
    }

    .header .menu .active  {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        overflow: hidden;
        margin-top: 200px;
     
        background-color: #000085;
    }

    .header .menu .active a {
        height: 5rem;
    }

}