@media(max-width: 665px) {

    .header nav.menu {
        display: none;
    }

    .header nav.active  {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        margin: 8rem 12rem 20rem 0rem;
        padding-top: 10rem;
        padding-bottom: 50rem; 
        z-index: 1000;
        background-color: #121214;
    }

    .header nav.active .menu-list {
        flex-direction: column;
    }

    .header nav.active .menu-list .menu-item {
        margin-bottom: 5rem;
        height: 5rem;
    }

}