div.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #230134;
    width: 100vw;
    z-index: 1000;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 1.6rem;
    margin: 0rem 3rem 0rem 3rem;
    cursor: pointer;
}

.header a h1 {
    font-family: 'Times New Roman', Times, serif;
}

.header .menu  {
    width: 60rem;
}

.header .menu .menu-list {
    display: flex;
    justify-content: end;
    font-size: 1.4rem;
}

.header .menu .menu-list .menu-item {
    width: auto;
    margin-top: 1.6rem;
    text-align: center;
    border: none;
}

.header .menu .menu-list .menu-item:hover {
    color: #e4049d;
    border-bottom: 0.4rem solid #e4049d;
}

.header .menu .menu-list li {
    list-style: none;
}

.main {
    padding-top: 10rem;
    background-color: #230134;
}

.main .container-logo {
    display: flex;
    justify-content: space-around;
}

.main .container-logo .title {
    color: #fff;
}

.main .container-logo .image {
    display: block;
}

.main .container-logo .image img {
   max-width: 250px;
}

.main .container-cards {
    background-color: #e4049d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.main .container-cards .card {
    display: block;
    max-width: 40rem;
    padding: 1rem;
    margin:  1rem;
    transition: transform .5s;
    cursor: pointer;
}

.main .container-cards .card:hover {
    transform: scale(1.2);
}

.main .container-cards .card img {
    max-width: 250px;
}

.footer {
    background-color: #330123;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    font-size: 1.2rem;
    color: #fff;
}