div.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #121214;
    width: 100vw;
    z-index: 1000;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 1.6rem;
    margin: 0rem 2rem 0rem 2rem;
    cursor: pointer;
}

.header a h1 {
    font-family: 'Times New Roman', Times, serif;
    width: 15rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    background-color: #181820;
}

.main .container-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #181820;
    padding: 1rem 1rem;
    width: 100vw;
    max-width: 100%;
}

.main .container-logo .title {
    color: #fff;
    max-width: 80rem;
    font-size: 4rem;
    font-weight: bolder;
}

.main .container-logo .image {
    display: block;
}

.main .container-logo .image img {
   max-width: 250px;
}

.main .container-search {
    background-color: #121214;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 1rem 0rem;
}

.main .container-search .container-search-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 88%;
}

.main .container-search .container-search-elements .container-random-search {
    display: flex;
}

.main .container-search .container-search-elements .container-random-search .button-random-search {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    color: #fff;
    border: 0.2rem solid #9d00ff;
    background-color: #121214;
    transition: all 0.5s;
    cursor: pointer;
}

.main .container-search .container-search-elements .container-random-search .button-random-search:hover {
    background-color: #9d00ff;
}

.main .container-search .container-search-elements .container-input-and-button {
    display: flex;
    justify-content: end;
    width: 50rem;
}

.main .container-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 94%;
}

.main .container-cards .card {
    display: block;
    max-width: 40rem;
    margin: 2rem 1rem;
    transition: transform .5s;
    cursor: pointer;
}

.main .container-cards .card:hover {
    transform: scale(1.1);
}

.main .container-cards .card img {
    max-width: 250px;
}

.footer {
    background-color: #121214;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    font-size: 1.2rem;
    color: #fff;
}