@media(max-width: 840px) {
    
    .main .container-search .container-input-and-button .input-search {
        width: 30rem;
     }
    
}

@media(max-width: 410px) {
    .main .container-search .container-input-and-button .input-search {
        width: 90%;
     }

     .main .container-search .container-input-and-button .button-search {
        width: 40%;
    }
    
}