@media (max-width: 665px) {

    .container-toggle {
        display: flex;
        height: 8rem;
    }

    .container-toggle button.active {
        display: flex;
        margin-top: 1rem;
    }

    .container-toggle .active .first {
        transform: rotate(135deg);
        transition: all .5s;
    }

    .container-toggle .active .second {
        display: none;
    }

    .container-toggle .active .third {
        transform: rotate(-135deg) translate(1.2rem, 1.4rem);
        transition: all .5s;
    }
}